@use "../../style/variables" as *;

.single-team {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 300px 550px auto;
  column-gap: 50px;
  align-items: start;
  &__img {
    width: 300px;
    height: max-content;
    background: #000;
  }
  &__name {
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
  }
  &__descr {
    margin-top: 13px;
    font-size: 18px;
    line-height: 24px;
  }
  &__back {
    justify-self: end;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    &:hover {
      color: $main-color;
    }
  }
}
