.teams {
  &__list {
    margin-top: 45px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: space-between;
    row-gap: 55px;
  }
  &__item {
    text-align: center;
    transition: 0.3s transform;
    &-img {
      background-color: #000000;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
      width: 225px;
      max-height: 135px;
      object-fit: contain;
    }
    &-name {
      margin-top: 10px;
      font-weight: bold;
      font-size: 22px;
      line-height: 18px;
    }
    &-rating {
      margin-top: 5px;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
